# Root Account Configuration
MASTER_KEY=                           # Root private key for account derivation
CONSOLIDATION_TARGET=                 # Final consolidation address

# Network Configuration
RPC_URL=                             # RPC endpoint (e.g., Infura, Alchemy)

# Advanced Gas Configuration (Optional)
PRIORITY_GAS_MULTIPLIER=1.5          # Priority fee multiplier
BASE_GAS_PRICE=50                    # Base gas price in gwei

# Script Paramater Configuration
ACCOUNTS_COUNT=50                    # number of accounts to create and have interact
MIN_TRANSFER=10000000000000000       # 0.01 ether in wei
ACTIVITY_ROUNDS=5                    # number of interaction rounds per account
